.navbar {
    display: flex;
    justify-content: space-between; /* Asegura que los elementos se distribuyan en todo el ancho */
    align-items: center; /* Alinea verticalmente el logo y los elementos del menú */
    padding: 1rem; /* Espaciado alrededor del navbar */
    width: 100%; /* Asegura que ocupe todo el ancho */
    background-color: white; /* Color de fondo del navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  }
  
  .logo {
    width: 80px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto; /* Mantiene la proporción del logo */
  }
  
  .navbar ol {
    display: flex;
    gap: 1rem; /* Espaciado entre los elementos del menú */
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el padding predeterminado */
  }
  
  .navbar li {
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
  }